[submodule "omega-hugo"]
	path = omega-hugo
	url = https://github.com/gethugothemes/omega-hugo
[submodule "not-much"]
	path = not-much
	url = https://github.com/imgios/not-much
[submodule "yourfolio"]
	path = yourfolio
	url = https://github.com/serg/yourfolio
[submodule "hallo-hugo"]
	path = hallo-hugo
	url = https://github.com/EmielH/hallo-hugo
[submodule "hugo-theme-gallery"]
	path = hugo-theme-gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
